html {
  @apply antialiased min-h-full;
}

:root {
  --color-primary: #977bbe; /* blue */
  --color-secondary: #9333ea; /* purple */
  --color-background: #fff;
  --color-text: #bbf;
  --color-stroke: #000;
  --stroke-width: 0px;
}

[data-theme="light"] {
  --color-primary: #fd0; /* blue */
  --color-secondary: #9333ea; /* purple */
  --color-background: #fff;
  --color-text: #008f68;
  --color-stroke: #000;
}

[data-theme="dark"] {
  --color-primary: #2563eb;
  --color-secondary: #7e22ce;
  --color-background: #111827;
  --color-text: #fd0;
  --color-stroke: #fff;
}
