@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark .text-gray-100 {
    --tw-text-opacity: 1;
  }
}

@layer components {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-text);
  }
}